.container {
  width: 50%;
  padding: 0.2em;
}

.container.grid {
  width: 50%;
}
.container.list {
  width: 100%;
}

.video {
  border: 1px solid lightblue;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-shadow: 10px 13px 25px -14px rgba(0, 0, 0, 0.75);
}

.video:hover {
  transform: scale(1.02);
}

.metaData {
  margin-left: 0.2em;
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
